@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local("Lora"),local("Lora-Regular"),url(http://fonts.gstatic.com/s/lora/v9/GsNxiN0oIzsS201cnUag6w.woff2) format("woff2");
  unicode-range: U400-45F,U490-491,U4B -4B 1,U2116
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local("Lora"),local("Lora-Regular"),url(http://fonts.gstatic.com/s/lora/v9/I0dEfRgGNE90_hXZq7bjyw.woff2) format("woff2");
  unicode-range: U100-24F,U1E -1EFF,U20A -20AB,U20AD-20CF,U2C 58C 7F,UA720-A7FF
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local("Lora"),local("Lora-Regular"),url(http://fonts.gstatic.com/s/lora/v9/4vqKRIwnQQGUQQh-PnvdMA.woff2) format("woff2");
  unicode-range: U0-0FF,U131,U152-153,U2C 6,U2DA,U2DC,U2000-206F,U2074,U20AC,U2212,U2215,UE0FF,UEFFD,UF000
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local("Lora Bold"),local("Lora-Bold"),url(http://fonts.gstatic.com/s/lora/v9/VZ-5ejr2fpt5l1RKkVxPr_Y6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U400-45F,U490-491,U4B -4B 1,U2116
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local("Lora Bold"),local("Lora-Bold"),url(http://fonts.gstatic.com/s/lora/v9/BYKAuswRIqh69412sen31PY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U100-24F,U1E -1EFF,U20A -20AB,U20AD-20CF,U2C 58C 7F,UA720-A7FF
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local("Lora Bold"),local("Lora-Bold"),url(http://fonts.gstatic.com/s/lora/v9/P18Nsu9EiYldSvHIj_0e5w.woff2) format("woff2");
  unicode-range: U0-0FF,U131,U152-153,U2C 6,U2DA,U2DC,U2000-206F,U2074,U20AC,U2212,U2215,UE0FF,UEFFD,UF000
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local("Lora Italic"),local("Lora-Italic"),url(http://fonts.gstatic.com/s/lora/v9/OVZcBeQFqX1w7YhsLFAXp_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U400-45F,U490-491,U4B -4B 1,U2116
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local("Lora Italic"),local("Lora-Italic"),url(http://fonts.gstatic.com/s/lora/v9/nRWuMjV9d7Qv7608EovOgfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U100-24F,U1E -1EFF,U20A -20AB,U20AD-20CF,U2C 58C 7F,UA720-A7FF
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local("Lora Italic"),local("Lora-Italic"),url(http://fonts.gstatic.com/s/lora/v9/_RSiB1sBuflZfa9fxV8cOg.woff2) format("woff2");
  unicode-range: U0-0FF,U131,U152-153,U2C 6,U2DA,U2DC,U2000-206F,U2074,U20AC,U2212,U2215,UE0FF,UEFFD,UF000
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local("Lora Bold Italic"),local("Lora-BoldItalic"),url(http://fonts.gstatic.com/s/lora/v9/66KG1MDzU5Zo36weZ_yx-RJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U400-45F,U490-491,U4B -4B 1,U2116
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local("Lora Bold Italic"),local("Lora-BoldItalic"),url(http://fonts.gstatic.com/s/lora/v9/1wR3aOJ69QwyZ9B-WDmIqRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U100-24F,U1E -1EFF,U20A -20AB,U20AD-20CF,U2C 58C 7F,UA720-A7FF
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local("Lora Bold Italic"),local("Lora-BoldItalic"),url(http://fonts.gstatic.com/s/lora/v9/_IxjUs2lbQSu0MyFEAfa7VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U0-0FF,U131,U152-153,U2C 6,U2DA,U2DC,U2000-206F,U2074,U20AC,U2212,U2215,UE0FF,UEFFD,UF000
}
